/* assumes the geopointpicker has already been included */
.points {
    width: 100%;
    margin-bottom: 15px;
}

.point {
    height: 33px;
    font-size: 10px;
    vertical-align: bottom;
    padding-top: 9px;
}

.point.has-error {
    background: #F2DEDE;
}
